aiohttp
aiosignal
appdirs
asttokens
async-generator 
async-timeout
attrs
autopep8
backcall
backoff
blinker
branca
cachelib
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cssselect
cycler
debugpy
decorator
Deprecated
distlib
exceptiongroup
executing
filelock
Flask
flask-ngrok
fonttools
frozenlist
h11
howdoi
idna
ipykernel
ipython
iso8601
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
keep
kiwisolver
lxml
m3u8
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
multidict
mysql-connector-python
nest-asyncio
numpy
openai
opencage
outcome
packaging
pandas
parso
pickleshare
Pillow
pipeline
platformdirs
prompt-toolkit
psutil
pure-eval
pycodestyle
pycparser
PyGithub
Pygments
PyJWT
PyNaCl
pyOpenSSL
pyparsing
pyquery
PySocks
python-dateutil
python-dotenv
pytz
pyzmq
qrcode
requests
rich
scikit-learn
scipy
seaborn
selenium
six
sniffio
sortedcontainers
stack-data
terminaltables
threadpoolctl
tk
toml
tornado 
tqdm
traitlets
trio
trio-websocket
tzdata
urllib3
wcwidth
webdriver-manager
Werkzeug
wrapt
wsproto
xgboost==1.6.2
yarl
